
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    .flex(none, center, column);
    background-color: @primary-background-color;
    font-family: @big-letter-font;
}