
// Jumbotron styles
.jumbotron {
    // border: 1px solid black;
    // width: 80%;
    // .flex(center, center);    
    border-radius: 20%;
    padding: 20px;        
        color: @primary-background-color;
        p {
            font-size: 2rem;
        }   
}

// Image w/ text overlay styles;
.bg-dark {
    // border: 1px solid black;
    width: 60%;    
    margin-bottom: 20px; 
    border-radius: 50%;  
    .flex(center, center);
    img {               
        height: 300px;           
        opacity: 0.6;
    }
}

// Card Deck layout styles

.card-deck {
    // border: 1px solid black;
    margin: 30px 10px;
    padding: 50px 10px;
    border-top: 8px dotted @primary-color;
    border-bottom: 8px dotted @primary-color;
    img {
        height: 400px;
        border-top-right-radius: 20%;
        border-top-left-radius: 20%;
    }
    h5 {
        font-size: 2.8rem;
        font-weight: bold;
    }
    li {        
        font-size: 1.6rem;
        font-weight: bold;
    }
    .card {
        border-top-right-radius: 20%;
        border-top-left-radius: 20%;
    }
}

// Media list
.list-unstyled {
    // border: 1px solid black;
    width: 80%;
    .flex(space-between, center);
    flex-wrap: wrap;
    .media {
        .flex(space-between, center);
        padding: 20px;
    }
    img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
    h5 {
        font-size: 2.5rem;
        font-weight: bold;
    }
    .media-body {
        font-size: 2rem;
    }
}

// Accordion

