.tabs {    
    .flex(center, center);    
    background-color: @primary-color;
    // @media(min-width: 1280px){
    //     width: 1280px;
    //   }
  
      .phases {
          .flex(none, center);
          @media(max-width: 500x){
            width: 100%;
            .flex(center, center, column);
            flex-wrap: wrap;                    
          } 
      }
      .tab {
          .flex(none, center);
          color: @primary-background-color;
          background-color: @primary-color;
          margin: 0 5px;
          padding: 2px 10px;
          font-size: 2rem;
          letter-spacing: 2px;
          cursor: pointer;
          font-weight: bold;
          border: 1px solid @primary-background-color;
          @media(max-width: 500x){
            font-size: 1.5rem;
            width: 100%;
            .flex(center, center, column);
            flex-wrap: wrap; 
                
          }         
          &:hover {
          color: black;
        //   font-size: 2.2rem;
      }
      
      }
      .active-tab {
          background-color: @primary-background-color;
          color: @primary-color;
          border: 2px solid @silver;
      }
        @media(max-width: 500x){
        font-size: 1.5rem;
        width: 100%;
        .flex(center, center, column);
        flex-wrap: wrap;                 
      }
      @media(max-width: 800x){        
        width: 100%;
        .flex(center, center, column);
        flex-wrap: wrap;                 
      }
}