.top-bar {
    width: 100%;
    .flex(center, none, row);
    .container {
        .flex(space-between, center, row);
        font-size: 2rem;

    }    
}

.container-left {
    .flex(flex-start, none, row);
    border: 1px solid black;
    width: 400px;
    padding-left: 50px;
    margin: 5%;
    
    img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }   
}

.container-center {
    .flex(center, center, row);
    span {
        padding: 20px;
        .flex(space-between, center, row);
        margin: 10px;         
    }

}

.container-right {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;    
    .flex(space-between, center, row);
    span {
        padding: 20px;  
        margin: 10px; 
        text-align: center;    
    }
}






