.top-info {
    .flex(center, center, column);
    h1 {
        border: 1px solid black;
        // .flex(center, center, column);
        // align-self: center;
    }
    h5 {
        border: 1px solid black;
        .flex(center, center, column);
        text-align: center;
    }
}